.arriba{
    background-color: #000000;
    --background:  #E62A08;
    color: #ffffff;
}

.btn0{
    
    --background:  #391097;
    color: #ffffff;
}

.btn1{

    --background:  #E62A08;
    color: #ffffff;

}