<ion-toolbar class="arriba">
  <ion-buttons slot="start">
    <ion-button routerLink="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>Resetear contraseña </ion-title>
</ion-toolbar>

<ion-content>
   
  <form action="">

    <ion-grid>

      <ion-row>
        <ion-col sizeLg = "10" sizeMd="12" sizeXs="12">

   <ion-item lines="full">
     <ion-label position="floating">Email</ion-label>
     <ion-input type="text" #email required></ion-input>
   </ion-item>

  </ion-col>
   </ion-row>
 
   <ion-row>
     <ion-col sizeLg = "10" sizeMd="10" sizeXs="10" offset="1">
       <ion-button type="submit" (click)="onResetPassword(email)" expand="block" shape="round" class="btn1">Request A Password Reset</ion-button>
     </ion-col>
   </ion-row>

  </ion-grid>

  </form>

 </ion-content>
