<ion-content [fullscreen]="true">

  <div class="wave-container">
    <h1>Bienvenido</h1>
    <h2>ORTUSAC</h2>
    <img src="../../assets/imgHome.png">

    <ion-grid>
      <ion-row>
        <ion-col sizeLg = "10" sizeMd="10" sizeXs="10" offset="1" >
          <ion-button shape="round" routerLink="/login" class="ion-text-capitalize">
            COMENZAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E62A08" fill-opacity="1" d="M0,64L120,101.3C240,139,480,213,720,202.7C960,192,1200,96,1320,48L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>
  
</ion-content>
