ion-content {
  //--background: #ffc409;
  --background: #E62A08;
}

  
.wave-container {
  position: relative;
  color: #FFF;
  text-align: center;
  overflow: hidden;

  background: #091d23;
  
  img {
    //margin-bottom: 2rem;
    height: 300px;
    
  }

}

.wave-container > svg {
  display: block;
}


h1 {
  font-size: 4rem;
  margin: 2rem auto;
}

.ion-text-capitalize {
  
  //margin: 2rem auto;
  --background: #E62A08;
}

ion-footer {
  ion-toolbar {
    --background: rgba(0,0,0,0);
    ion-title {
      font-size: 12px;
    }
  }
}