

ion-icon{
    zoom: 2;
    color: #FF8B00;
}

.libro{
    zoom: 1.5;
    color:#FFC300;
}

ion-label{
    align-items: center;
    text-align: center;
}

.icon1{
    color: #ffff;
    zoom: 1.5;
}

.arriba{
    --background:  #E62A08;
    color: #ffffff;
  }

