/*ion-content{
    --ion-background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

.background-pic{
    height: 100vh;
    width: 100%;
    background:#fff;
    background-position: 30%;
    background-repeat: no-repeat;
}

.background-filter{
    height: 100%;
    width: 100%;
    background: rgb(255,255,255,0.8);
    align-items: center;
    display: flex;
    flex-direction: column;
}


.shape{
    position:fixed;
    img{
        width: 1500px;
        height: 300px;
    }
}

ion-card{
    margin-top:50px;
    text-align: center;
    box-shadow: black;
    box-shadow: 1px 1px 1px 1px #242020;

    ion-card-title{
        color: #242020;
        font-size: 30px;
    }
    ion-card-subtitle{
        color:#BBBBBB;
        font-size: 30px;
        a{
            text-decoration: none;
            font-weight: bold;
            color: #198645;
        }
    }

    ion-card-content{
        margin-top: 10px;
        height: 460px;
        width: 300px;
        text-align: center;
    }
}

.subt{
    height: 40px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.tajet{
    border: black solid;
    background:black;
    color:black;
    margin-top: 50px;
    }

.botton-section{
    margin-top: 20px;
    .btn1{
        --background: #EE190F;
        height: 50px;
        width: 250px;
        --border-radius: 40px;
        --border: 1px solid;
    }
    .btn2{
        --background: #3BC0C4;
        height: 50px;
        width: 250px;
        color: #fff;
        --border-radius: 40px;
        --border: 1px solid;
    }
}*/


ion-content{
    --ion-background-color: #fff !important;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
  }
  
  ion-card{
    background-color: transparent !important;
    padding: 0 !important;
  }
  
  
  ion-card-title{
    margin-top: 30px;
    font-size: 20px;
    color:#080808;
    text-align:center;
    font-weight: 600;
  }
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#898585;
    text-align: center;
    font-weight: 300;
  }
  
  ion-header{
    position: absolute;
  }
  
  ion-card{
    --ion-background-color:transparent;
     box-shadow: none !important;
  }
  
  .signin-btns{
    margin-top: 35px;
    text-align: center;
    color:#F0F4FA;
  }
  
  .loginbtn{
    --ion-color-primary:#215AB7;
  }
  
  .text-tag{
    margin-top: 20px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#898585;
    }
  }
  
  .social-btns{
    margin-top: 20px;
    text-align: center;
    ion-button{
      width:40px;
      padding-left: 5px !important;
    }
  }
  
  
  .nuevoCard{
    margin-top:50px;
    text-align: center;
    border-radius: 10%;
    box-shadow: #EE190F;
    //box-shadow: 2px 2px 5px 5px #215AB7;
  }
  
  
  .subt{
    height: 40px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  
  .subt1{
    height: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  
  .tajet{
    border: black solid;
    background:black;
    color:black;
    margin-top: 50px;
    }
  
    .botton-section{
      margin-top: 10px;
      .btn1{
          --background: #EE190F;
          height: 50px;
          width: 250px;
          --border-radius: 40px;
          --border: 1px solid;
      }
      .btn2{
          --background: #062EA1;
          height: 50px;
          width: 250px;
          color: #fff;
          --border-radius: 40px;
          --border: 1px solid;
      }
  }
  
  ///----------- nuevo --------
  
  .imgH{
    height: 100px;
  }


